
@{
    ViewBag.Title = "Terms";
}
@*<script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
<h2>Terms and Condition</h2>
<div>
    <pre>
1. General
These Terms and Conditions ("Agreement") governs the use of the services ("Service") that are made available by Website.com Solutions Inc. ("Website.com", "we" or "us"). These Terms and Conditions represent the whole agreement and understanding between Website.com and the individual or entity who subscribes to our service ("Subscriber" or "you").
PLEASE READ THIS AGREEMENT CAREFULLY. By submitting your application and by your use of the Service, you agree to comply with all of the terms and conditions set out in this Agreement. Website.com may terminate your account at any time, with or without notice, for conduct that is in breach of this Agreement, for conduct that Website.com believes is harmful to its business, or for conduct where the use of the Service is harmful to any other party.
Website.com may, in its sole discretion, change or modify this Agreement at any time, with or without notice. Such changes or modifications shall be made effective for all Subscribers upon posting of the modified Agreement to this web address (URL): http://www.website.com/terms-and-conditions/. You are responsible to read this document from time to time to ensure that your use of the Service remains in compliance with this Agreement.
2. Services
Website.com offers Subscribers domain name registration, website hosting, and email hosting services for the duration of the service term purchased from Website.com.
Services are provided on the basis of facility and equipment availability. Website.com reserves the right not to provide one or more Services where necessary facilities or equipment are not available, or for any other reason.
Access to the web and email servers is terminated upon expiry of the Service.
Details regarding your account can be found in your account control panel (https://www.website.com/sign-in/)
3. Web Hosting
All Website.com web hosting accounts will display a "Coming Soon" web page by default when activated. This page informs visitors that the Subscriber has recently setup their account with Website.com. The "Coming Soon" default index web page may be removed by the Subscriber at any time once they have access to the web server. The "Coming Soon" web page may include, but without limitation to, the following:
Links to additional products and services offered by Website.com.
Advertisements for products and services offered by third-parties.
An internet search engine interface.
All web page error requests (such as 403 errors or 404 errors) will direct traffic to a default Website.com error page. This error page informs visitors that the web page they are looking for cannot be found, and may include, but without limitation to, the following:
Links to additional products and services offered by Website.com.
Advertisements for products and services offered by third-parties.
An internet search engine interface.
Depending on which hosting plan you choose, you may request to change the billing term of your hosting service through your account control panel. In such cases, the expiry date of your hosting service will be adjusted according to the billing term that you have requested. Any optional features for your hosting plan will be billed according to the term that you have requested.
If your hosting plan includes a free domain name, you will be required to pay a fee to reimburse Website.com for the domain name registration upon changing to another hosting plan or a billing term that does not include a free domain name. The amount of this fee will vary depending on the domain extension and on the registration term.
All Website.com web hosting services, including service trials and promotional hosting offers, and their billing terms may be prorated and adjusted to expire on the last day of a month.
All service trials and promotion offers are considered to be delivered in full upon the completion of the service term stated on the trial or offer invoice found in your account control panel. Website.com is not obligated to provide reimbursement for any proration or service term adjustment on service trials or promotional offers.
Promotional offers, including special introductory rates, promotional rates, or any non-regular pricing, are only available to new customers and are only valid for the initial term. All hosting services will renew at the regular renewal rate.
In the absence of a cancellation request from you, your hosting service will be renewed for a successive term, at the regular renewal rate, on the 16th of the expiry month.
4. Website Builder
Website.com provides Subscribers with a non-exclusive, non-transferable, limited license to use the Website Builder. The Website Builder is developed and owned by Website.com, and any reproduction, modification, creation of derivative works from or redistribution of the Website Builder is expressly prohibited. The Website Builder, its structure, sequence, organization and source code are considered trade secrets of Website.com and are protected by trade secret laws.
Website.com does not claim ownership and is not responsible for any of the information, code, data, text, software, music, sounds, photographs, pictures, graphics, videos, messages, files or other materials ("User Content") submitted using the Website Builder. Subscriber is entirely responsible for all User Content uploaded, posted, emailed or otherwise transmitted via the Website Builder.
You further acknowledge and agree that all User Content is non-transferable and non-transportable. Website.com will not assist any Subscribers with any reproduction, recovery, or distribution of any User Content. Upon service cancellation or termination for any reason, access to the Website Builder, including all User Content, third party content, and user information uploaded, posted, emailed, or otherwise transmitted via the Website Builder, will be removed by Website.com.
Website.com makes no representations or warranties, either expressed or implied, with respect to the images offered through the Website Builder (the "Images").
In the event of a dispute regarding any Image obtained via the Website Builder, you hereby release Website.com, its officers, directors, owners, agents, and employees from claims, demands, and damages, actual and consequential, of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any connection with such disputes. Website.com is not a party to, and shall not be involved in or responsible for, transactions, agreements, and/or disputes between you and any third party.
You may only use the Images on your website, while the website maintains an active service subscription with Website.com.
5. Email
Website.com's email service provides customers with the capability to send and receive email via the Internet. Website.com retains the right, at our sole discretion, to restrict the volume of messages transmitted or received by you in order to maintain the quality of our email services to other Subscribers and to protect our computer systems.
As an owner and operator of the equipment and other resources utilized to provide services, Website.com has the legal right to block electronic communications from other entities on the Internet.
Website.com relies on the support of its sponsors and advertisers to help offset the cost of the Services offered to its Subscribers. You acknowledge that as part of your Website.com Service, advertisement sponsored email newsletters may be sent to Subscribers and Website.com email service email accounts.
This Agreement, as may be updated from time to time and posted at http://www.website.com/terms-and-conditions/, represents the complete agreement and understanding between us with respect to the Service and supersedes any other written or oral agreement.
</pre>
</div>
<br />
@using (Html.BeginForm("Terms", "LearningLicense", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="label">
        <p><h3 style="color:black">By clickin on Accept butten you accept Terms and Condition.</h3></p>
    </div>

    <div class="row">
        <div class="form-group-sm">
            <div class="col-lg-1 col-lg-offset-8">
                <input type="submit" class="btn btn-grace" value="Accept" id="btnterms" />
            </div>
        </div>

    </div>

    @*<div class="form-group">
        @Html.CheckBox("Terms and Condition", true,new { @class = "checkbox" })
        @*<div class="col-md-10 col-md-offset-2">
            <h3>@Html.Label("By clickin on Accept butten you accept Terms and Condition")</h3>*@
            @*</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <input type="submit" class="btn btn-warning" value="Accept" id="btnterms" hidden="hidden" />
        </div>
    </div>*@
}
@*<script type="text/javascript">
        $('#Terms_and_Condition').click(function () {
            if ($(this).is(':checked')) {
                $("#btnterms").show();
            } else {
                $("#btnterms").hide();
            }
        });
    </script>*@