
@{
    ViewBag.Title = "Terms";
}
<script src="~/Scripts/jquery-2.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<h2>Terms and Condition</h2>
<div class="pre-scrollable text-justify">
    <pre>
1. General
These Terms and Conditions ("Agreement") governs the use of the services ("Service") that are made available by Website.com Solutions Inc. ("Website.com", "we" or "us"). These Terms and Conditions represent the whole agreement and understanding between Website.com and the individual or entity who subscribes to our service ("Subscriber" or "you").
PLEASE READ THIS AGREEMENT CAREFULLY. By submitting your application and by your use of the Service, you agree to comply with all of the terms and conditions set out in this Agreement. Website.com may terminate your account at any time, with or without notice, for conduct that is in breach of this Agreement, for conduct that Website.com believes is harmful to its business, or for conduct where the use of the Service is harmful to any other party.
Website.com may, in its sole discretion, change or modify this Agreement at any time, with or without notice. Such changes or modifications shall be made effective for all Subscribers upon posting of the modified Agreement to this web address (URL): http://www.website.com/terms-and-conditions/. You are responsible to read this document from time to time to ensure that your use of the Service remains in compliance with this Agreement.
2. Services
Website.com offers Subscribers domain name registration, website hosting, and email hosting services for the duration of the service term purchased from Website.com.
Services are provided on the basis of facility and equipment availability. Website.com reserves the right not to provide one or more Services where necessary facilities or equipment are not available, or for any other reason.
Access to the web and email servers is terminated upon expiry of the Service.
Details regarding your account can be found in your account control panel (https://www.website.com/sign-in/)
3. Web Hosting
All Website.com web hosting accounts will display a "Coming Soon" web page by default when activated. This page informs visitors that the Subscriber has recently setup their account with Website.com. The "Coming Soon" default index web page may be removed by the Subscriber at any time once they have access to the web server. The "Coming Soon" web page may include, but without limitation to, the following:
Links to additional products and services offered by Website.com.
Advertisements for products and services offered by third-parties.
An internet search engine interface.
All web page error requests (such as 403 errors or 404 errors) will direct traffic to a default Website.com error page. This error page informs visitors that the web page they are looking for cannot be found, and may include, but without limitation to, the following:
Links to additional products and services offered by Website.com.
Advertisements for products and services offered by third-parties.
An internet search engine interface.
Depending on which hosting plan you choose, you may request to change the billing term of your hosting service through your account control panel. In such cases, the expiry date of your hosting service will be adjusted according to the billing term that you have requested. Any optional features for your hosting plan will be billed according to the term that you have requested.
If your hosting plan includes a free domain name, you will be required to pay a fee to reimburse Website.com for the domain name registration upon changing to another hosting plan or a billing term that does not include a free domain name. The amount of this fee will vary depending on the domain extension and on the registration term.
All Website.com web hosting services, including service trials and promotional hosting offers, and their billing terms may be prorated and adjusted to expire on the last day of a month.
All service trials and promotion offers are considered to be delivered in full upon the completion of the service term stated on the trial or offer invoice found in your account control panel. Website.com is not obligated to provide reimbursement for any proration or service term adjustment on service trials or promotional offers.
Promotional offers, including special introductory rates, promotional rates, or any non-regular pricing, are only available to new customers and are only valid for the initial term. All hosting services will renew at the regular renewal rate.
In the absence of a cancellation request from you, your hosting service will be renewed for a successive term, at the regular renewal rate, on the 16th of the expiry month.
4. Website Builder
Website.com provides Subscribers with a non-exclusive, non-transferable, limited license to use the Website Builder. The Website Builder is developed and owned by Website.com, and any reproduction, modification, creation of derivative works from or redistribution of the Website Builder is expressly prohibited. The Website Builder, its structure, sequence, organization and source code are considered trade secrets of Website.com and are protected by trade secret laws.
Website.com does not claim ownership and is not responsible for any of the information, code, data, text, software, music, sounds, photographs, pictures, graphics, videos, messages, files or other materials ("User Content") submitted using the Website Builder. Subscriber is entirely responsible for all User Content uploaded, posted, emailed or otherwise transmitted via the Website Builder.
You further acknowledge and agree that all User Content is non-transferable and non-transportable. Website.com will not assist any Subscribers with any reproduction, recovery, or distribution of any User Content. Upon service cancellation or termination for any reason, access to the Website Builder, including all User Content, third party content, and user information uploaded, posted, emailed, or otherwise transmitted via the Website Builder, will be removed by Website.com.
Website.com makes no representations or warranties, either expressed or implied, with respect to the images offered through the Website Builder (the "Images").
In the event of a dispute regarding any Image obtained via the Website Builder, you hereby release Website.com, its officers, directors, owners, agents, and employees from claims, demands, and damages, actual and consequential, of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any connection with such disputes. Website.com is not a party to, and shall not be involved in or responsible for, transactions, agreements, and/or disputes between you and any third party.
You may only use the Images on your website, while the website maintains an active service subscription with Website.com.
5. Email
Website.com's email service provides customers with the capability to send and receive email via the Internet. Website.com retains the right, at our sole discretion, to restrict the volume of messages transmitted or received by you in order to maintain the quality of our email services to other Subscribers and to protect our computer systems.
As an owner and operator of the equipment and other resources utilized to provide services, Website.com has the legal right to block electronic communications from other entities on the Internet.
Website.com relies on the support of its sponsors and advertisers to help offset the cost of the Services offered to its Subscribers. You acknowledge that as part of your Website.com Service, advertisement sponsored email newsletters may be sent to Subscribers and Website.com email service email accounts.
6. Definition of Unlimited Usage
What "Unlimited" means: Website.com does not set an arbitrary limit on the amount of resources an account can use.
What "Unlimited" DOES NOT mean: The accounts are not intended to support the greater web hosting needs of large enterprises or to be used as an online storage warehouse to store backups, archiving of electronic files or emails, documents, log files, etc. or to be used as a media file streaming/sharing hub.
Reselling any of the Service's resources is strictly prohibited. Any accounts found to be reselling resources will immediately be suspended, with or without notice. Reselling of account resources is only permitted if you are using a Reseller Hosting Plan, a Virtual Private Server (VPS) or a Dedicated Server.
Website.com's "Unlimited" services are provisioned in a shared hosting environment. Any account found to be adversely affecting the performance of other Subscriber accounts by excessively using network bandwidth, server storage, memory or CPU resources, will be flagged by Website.com administrators and anti-abuse controls. These Subscribers will then be asked to consider Virtual Private Server (VPS) or Dedicated Server services. Serious offenses will result in the account service suspension or termination, with or without notice.
7. Domain Name Registration
Website.com offers domain name registration and renewal services in partnership with ICANN accredited registrars In2net Network Inc, Tucows, and Network Solutions. Website.com processes registration and renewal services through these respective registrars at its discretion.
You acknowledge and agree that you may not transfer the domain name registration to another domain name registrar during the first 60 days of the initial registration, or within 60 days of any successful transfer or renewal of the registration. Website.com is authorized to deny any such transfer requests.
You acknowledge and agree that Website.com may, but is not obligated to, place your domain name in a Domain Lock status to prevent unauthorized transfers of your domain name.
Domain names which have opted in to the Automatic Domain Renewal service, and any optional features associated with them, will be automatically renewed for the minimum term available for that domain type at the regular renewal rate 6 days prior to expiry. You will be solely responsible for all renewal costs and for any other costs in doing so. Subscribers may choose to opt in or out of the Automatic Domain Renewal service via your account control panel.
Promotional offers, including special introductory rates, promotional rates, or any non-regular pricing, are only available to new customers and are only valid for the initial term. All domain names registrations will renew at the regular renewal rate.
Subscribers who have purchased their domain name registration at a promotional price are subject to a Domain Transfer Fee when they transfer their registration to another domain name registrar during the purchased registration term.
Subscribers who wish to transfer their domain name registration to another domain name registrar while the registration is expired are also subject to a Domain Transfer Fee.
The Domain Transfer Fee is based on the domain type and is subject to any applicable taxes.
General Domain Transfer Fee (.com, .net, .org, .biz, .info, .mobi, .us, .eu, .me)	US$20.00
Special Domain Transfer Fee (.co, .uk, .tv)	US$35.00
In additional to this Agreement, new domain registration accounts are also subject to the Domain Registration Agreements of the respective governing registries. The Domain Registration Agreement can be found at: http://www.website.com/domain-registration-agreement/
8. Service Fees / Payments / Invoices
All Website.com fees and charges are quoted and billed in US Dollars unless otherwise noted.
Members have the option to pay services fees in Canadian Dollars or US Dollars. If Canadian Dollars is selected as the billing currency, Members will be charged the Canadian Dollar equivalent of the US Dollar total. The exchange rate used ("Exchange Rate") is subject to change from time to time and can always be found on the Website.com website at: http://www.website.com/terms-and-conditions/exchange-rate/
Website.com uses an automated payment processing system and only accepts credit card or PayPal payments at this time. All Subscribers are required to maintain valid payment information on file for the processing of any applicable service fees. At its sole discretion, Website.com may use credit card issuer-approved services, such as VISA Account Updater and MasterCard Automatic Billing Updater, to acquire updated payment information for the purpose of processing outstanding payments that are on your account.
Website.com may take any reasonable action to validate your payment and registration information, and collect all payments due. You agree to pay all attorney and collection fees arising from any efforts to collect any past due amounts from you, to the extent allowed by law.
Service fees are due at the time of order or on the day of renewal. All fees must be paid in full.
Invoices for all Website.com services can be found by logging into your account control panel.
Billing inquiries and disputes should be brought to Website.com's attention within 30 days of the invoice date. Failure to do so will be deemed to be an admission that the invoice and charges are accurate.
If any chargeback or charge dispute notices are received for your account, services provided to you may be immediately suspended pending investigation, and you will be subject to chargeback service charges. Where applicable, Website.com reserves the right to put your domain name into "Registrar Hold" status and deny any transfer requests for that domain name until the chargeback or dispute issue has been resolved.
Accounts will be suspended if its service renewal fees are not paid within 72 hours of the due date. Accounts suspended in this manner can be re-activated upon payment of the Account Reactivation Fee (see below).
Any applications or requests for services will be declined if payment cannot be successfully processed within 72 hours of the order.
Website.com reserves the right to modify service fees and rates, effective upon posting on the Website.com website or on this Agreement. Current service charges include the following (non-exclusive list):
Account Reactivation Fee	US$15.00
Chargeback Service Charge	US$25.00
Reactivation Fee (TOS Violation)	US$25.00
Refund Processing Fee	US$15.00
9. Termination / Plan Change / Refund Policy
Website.com may terminate your Service under the following circumstances (non-exclusive list):
Non-payment of fees
You are in breach of any term or condition of this Agreement
Your use of the Service disrupts Website.com business operations or affects any other party
All Subscriber data is removed from Website.com servers for such terminations.
You may request account termination or hosting plan changes at any time by contacting our Customer Service team either through phone or case ticket. Our contact information can be found on the Support page of our website: http://www.website.com/contact-us/
When submitting your cancellation request, you must provide the correct username and password for your account for verification. Incomplete cancellation requests will be deemed invalid and will not be processed. You will be responsible for any service fees that arise from your failure to cancel your account.
You are eligible for a refund under the following circumstances only:
If you cancel your account within 30 days of sign-up, you will, upon request, receive a refund of the hosting fees paid, less any setup fees.
If you cancel your account within 45 days of a hosting service renewal, you will, upon request, receive a full refund of all hosting fees paid on your most recent renewal. You will be subject to a US$15.00 Refund Processing Fee.
If you cancel your account within 14 days of a hosting plan change, you will, upon request, receive a full refund of all hosting fees paid on your most recent hosting plan change, less any setup fees. You will be subject to a US$15.00 Refund Processing Fee.
Refunds will not be given for services that are billed monthly or for one-time service fees, such as web design fees, file recovery fees, etc.
If your hosting plan includes a free domain name, you may be required to pay an additional US$15.00 Domain Reimbursement Fee to reimburse Website.com for the domain name registration when you do any of the following:
You cancel your subscription to the hosting plan.
Your subscription to the hosting plan ends.
You make changes to your DNS settings.
You transfer the domain name to another domain registrar.
Only one refund may be issued for each invoice. Website.com reserves the right to grant or deny any refund requests.
Domain name registrations, regardless if it is an initial registration or a renewal of an existing registration, cannot be cancelled and will remain in effect until the end of the registration term.
10. Subscriber Responsibility
When you apply to use Website.com services, you will be asked to select a Subscriber ID and Password. The Subscriber ID and Password are the means through which you access certain services. You acknowledge and agree that it is your responsibility to safeguard the Subscriber ID and Password you select from any unauthorized use. IN NO EVENT WILL WEBSITE.COM BE LIABLE FOR THE UNAUTHORIZED USE OR MISUSE OF YOUR SUBSCRIBER ID OR PASSWORD.
Subscribers are responsible for maintaining accurate account information at all times, including credit card and contact information. This information can be updated in your account control panel.
11. Prohibited Conduct
Website.com does not allow the use of unsolicited commercial email ("Spam") to promote products or services. Any Subscriber engaging in the sending of Spam through the Website.com network or promoting information on websites hosted by Website.com will be considered in breach of this Agreement and will be suspended from the Service immediately.
Your use of the Service must be in compliance with Canadian and US laws, and the laws of your country at all times.
You are responsible for ensuring that your use of the Service does not consume excessive system or network resources that disrupts the normal use of the Service through, but not limited to, spawning multiple processes, or consuming excessive amounts of memory, CPU or bandwidth capacity.
The following is a non-exclusive list of content, and behavior prohibited by the Service:
Content that contains or contains links to: nudity, pornography, adult content, materials with sex or foul language.
Content that condones, promotes, contains, or links to warez, cracks, hacks, their associated utilities, or other piracy related information, whether for educational purposes or not.
Content that has been promoted through the sending of Spam or mail fraud schemes, or pages that promote or condone the sending of Spam. The sending of bulk email originating from our servers mass distributed to unknown recipients soliciting products or services, or of bulk email NOT originating from our servers mass distributed to unknown recipients soliciting products or services relating to a Website.com account will result in immediate account suspension.
Content that is grossly offensive to the community, including blatant expressions for bigotry, prejudice, racism, hatred or excessive profanity, or to post any obscene, filthy, excessively violent, harassing, or otherwise objectable material.
Content or otherwise that exploits children under 18 years of age.
Content that sells or promotes any products or services that are unlawful in the location at which the content is posted or received.
Content that infringes or violates any copyright, patent, trademark, service mark, trade name, trade secret, or other intellectual property right of any third party.
Content that promotes mail fraud, multi-level marketing (pyramid) schemes or other illegal or fraudulent activities.
Content that posts or discloses any personally identifying information or private information about any third parties without their express consent.
Reverse engineering, reverse compiling or otherwise deriving the underlying source code or structure or sequence of any Website.com service, solution or technology.
Reverse engineering, reverse compiling or otherwise deriving the underlying source code or structure or sequence of individual passwording of Subscriber Sites (or pages contained therein).
12. Notices
You agree that, unless other instructions are posted on Website.com's website, any notices required to be given under this Agreement will be deemed to have been given if delivered by email or fax, or sent by registered mail or by courier to each of the parties in accordance with the most current contact information you have provided to us, and the contact information for Website.com posted on the Website.com website. All notices shall be effective upon receipt, except that email and fax notices shall be effective upon transmission.
13. Privacy
20.	Age of Majority
Website.com does not accept agreements and payments from persons under the legal age of 18 years. By submitting your account application, you confirm that you are over 18 years of age or your parent or legal guardian has agreed to accept this Agreement on your behalf.
21. Waiver
No waiver of any of the provisions of this Agreement will be deemed to constitute a waiver of any other provision nor shall such a waiver constitute a continuing waiver unless otherwise expressly provided in writing duly executed by the party to be bound thereby.
22. Entire Agreement
This Agreement, as may be updated from time to time and posted at http://www.website.com/terms-and-conditions/, represents the complete agreement and understanding between us with respect to the Service and supersedes any other written or oral agreement.
</pre>
</div>
@using (Html.BeginForm("Terms", "LearningLicense", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @*@Html.CheckBox("Terms and Condition", true,new { @class = "checkbox" })*@
        <div class="col-md-10 col-md-offset-2">
            <h3>@Html.Label("By clickin on Accept butten you accept Terms and Condition")</h3>
            @*</div>*@
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" class="btn btn-warning" value="Accept" id="btnterms" hidden="hidden" />
            </div>
        </div>
}
<script type="text/javascript">
    $('#Terms_and_Condition').click(function () {
        if ($(this).is(':checked')) {
            $("#btnterms").show();
        } else {
            $("#btnterms").hide();
        }
    });
</script>